# build/output
bin/
obj/

# user-specific/IDE
.vs/
*.user
*.suo

# secrets & local config
appsettings.Development.json

# local databases (SQLite)
*.db
*.db-shm
*.db-wal

# published artifacts (WASM)
wwwroot/*.gz
wwwroot/*.br
